
/* HOME PRE */
#home_pre {height: 70vh;position: relative}
#head-info {position: absolute;bottom: 50%}
#head-illustration {position: absolute;right: 0;bottom: 0}
/* Media Queries Tablettes */
@media (max-width: 767px) {
    #head-info {text-align: center;margin: 5vh 0}
    #home_pre {height: 60vh;position: relative}
}
/* Media Queries Mobile */
@media (max-width: 568px) {
    #head-info {position: absolute;bottom: 20%}
    #head-illustration {display: none}
    #home_pre {height: 40vh}
}



/* HOME PRES */
#home_presentation {margin: 20vh auto}
#home_presentation .pres-element {margin: 5vh auto}
/* Media Queries Mobile */
@media (max-width: 767px) {
    #home_presentation {margin: 10vh auto}
    #home_presentation .pres-element {margin: 5vh auto 10vh;text-align: center}
    #home_presentation .illustration {margin-top: 3rem;text-align: center}
}



/* PROJECT */
#new_project_title {margin: 5vh auto;padding: 10vh}
#new_project {margin: 10vh auto}
/* Media Queries Mobile */
@media (max-width: 568px) {
    #new_project .illustration {margin-bottom: 3rem}
    #new_project {text-align: center}
}